<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <h3 style="margin-bottom: 0;" class="page-heading">Dashboard</h3>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- insert alerts/messages here -->

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span id="dragonfly-username"
                    class="mr-2 d-none d-lg-inline text-gray-600"><%= account.username %></span><i
                    class="fas fa-angle-down"></i>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <!-- <div class="dropdown-divider"></div> -->
                <a class="dropdown-item" id="logout-btn" data-toggle="modal" data-path=<%= path %>
                    data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>
    </ul>
</nav>
<script src="https://dashboard.playdragonfly.net/js/partials/nav.js"></script>