<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="https://cdn.icnet.dev/web/drgn/assets/img/svg/Dragon.svg">
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Dragonfly - Login</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />

  <!-- Custom styles for this template-->
  <link href="./css/sb-admin-2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="./css/style.css">

  <style>
    :root {
      --clr-fg: #eff1f3;
      --clr-bg: #37393a;
      --clr-pdark: #de4f3f;
      --clr-primary: #ef852e;
      --clr-plight: #ffc247;
    }

    .bg-gradient-primary {
      background-image: linear-gradient(var(--clr-pdark),
          var(--clr-primary),
          var(--clr-plight));
    }
  </style>
</head>

<body class="bg-gradient-primary">
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card form-wrapper o-hidden border-0 shadow-lg mt-5">
          <div class="card-body p-0" style="height: 500px;">
            <!-- Nested Row within Card Body -->
            <div class="row" style="height: 100%;">
              <div class="col-lg-6 d-none d-lg-block bg-login-image">
                <img src="https://cdn.icnet.dev/web/drgn/assets/img/png/ingame_background_2.jpg" alt="">
              </div>
              <div class="col-lg-6" style="height: 100%; padding: 0;">
                <div class="px-5" style="
                      height: 100%;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      width: 100%;
                    ">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Create an Account</h1>
                  </div>
                  <form class="user register" id="form-register">
                    <div class="form-group">
                      <input class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp"
                        name="name" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                        placeholder="Password" name="password" autocomplete="new-password">
                    </div>

                    <button class="btn btn-primary btn-user btn-block" type="submit">
                      Register
                    </button>

                    <hr>
                  </form>

                  <div style="
                        display: flex;
                        /* width: 70%; */
                        justify-content: space-between;
                        margin: 0 auto;
                      ">
                    <div class="text-center">
                      <a class="small" id="switch-login" href="login">Already have an account? Login!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  !-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.js"></script>

  <!-- Sweet alert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.bundle.js"></script>

  <!-- Moment -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
    integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg=="
    crossorigin="anonymous"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.bundle.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.js"></script>
  <script src="/js/sb-admin-2.js" async></script>
  <script src="js/charts/chart-area-demo.js"></script>
  <script src="js/charts/chart-pie-demo.js"></script>
</body>

</html>