<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page not found</title>
    <link rel="icon" href="https://playdragonfly.net/assets/Dragon.svg" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="https://cdn.icnet.dev/web/drgn/css/pnf-style.css" />

    <style>
        :root {
            --clr-primary: #ef852e !important;
            --clr-pdark: #de4f3f !important;
            --clr-plight: #ffc247 !important;
        }
    </style>
</head>

<body>
    <div class="pnf-wrapper">
        <h1>404</h1>
        <p>
            The page you were looking for does not exist!
        <p>Click <a href="/">here</a> to return to the Dashboard.</p>
        </p>
    </div>
</body>

</html>